body{
  background-color: darkgrey;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 19px;
  font-weight: bold;
  padding: 0px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section#game-board{
  display: grid;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 10px;
  min-height: 80vh;
  min-width: 80vh;
  align-items: center;
  text-align: center;
  border: rgb(82, 61, 104) 8px solid;
  border-radius: 1%;
  background-color: black;
  color: white;
}

button#start{
  background-color:indigo;
  color: white;
}

#background{
  position: relative;
  width: 800px ;
  height:500px;
}

#player-status{
  height: 140px;
  width: 220px;
  position: absolute;
  z-index: 10;
  bottom: 45%;
}

img#enemy{
  position: absolute;
  z-index: 10;
  bottom: 45%;
  right: 38%;
}

img#enemy2-or-item{
  position: absolute;
  z-index: 10;
  bottom: 50%;
  right: 40%;
}

h4#dialog-box{

}

img#inventory{

}
button.choices{

}

/* add an @media only for mobile view */

/* #display{
  width: 720px;
  max-width: 80%;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 0 5px 2px;
} */