html{
  box-sizing: border-box;
}

body{
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 19px;
  font-weight: bold;
  padding: 0px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section#game-board{
  box-sizing: content-box;
  width: 100%;
  display: grid;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 10px;
  min-height: 80vh;
  min-width: 80vh;
  align-items: center;
  text-align: center;
  border: #773C6A 10px solid;
  border-radius: 1%;
  background-image: radial-gradient(circle, #362644, #2f1d30, #241520, #180c12, #000000);
  color: #FFFADE;
  position: relative;
  z-index: 10;
}

#title{
  position: absolute;
  display: flex;
  top: 5%;
  right: 27%;
  left: 27%;
  align-items: center;
  text-align: center;
  z-index: 30;
}

#background{
  border: #B19CC1 10px solid;
  border-radius: 1%;
  z-index: 20;
  left: 10%;
  right: 10%;
  top: 15%;
  bottom: 20%;
  position: absolute;
  align-items: center;
  height: 60%;
  width: 80%;
}

#player-status{
  height: 14%;
  width: 18%;
  position: absolute;
  bottom: 30%;
  left: 12%;
  z-index: 30;
}

img#enemy{
  position: absolute;
  bottom: 25%;
  right: 18%;
  z-index: 30;
  width: 35%;
  height: 40%;
}

img#enemy2-or-item{
  position: absolute;
  bottom: 50%;
  right: 10%;
  z-index: 30;
  width: 35%;
  height: 35%;
}

button#start{
  z-index: 30;
  height: 80px;
  width: 600px;
  background-color:#B19CC1;
  color: #FFFADE;
}

h4#dialog-box{
  color: #C7C3A8;
  padding: 10px;
  border: #7A3522 4px solid;
  border-radius: 1%;
  z-index: 30;
  position: absolute;
  bottom: 10%;
  left: 10%;
  right: 10%;
}

img#inventory{
  z-index: 30;
  position: absolute;
  bottom: 3%;
  left: 48%;
}

#choice1{
  color: #C7C3A8;
  border: #B19CC1 4px solid;
  border-radius: 4%;
  z-index: 30;
  position: absolute;
  bottom: 2%;
  left: 29%;
  height: 50px;
  width: 200px;
}

#choice2{
  color: #C7C3A8;
  border: #B19CC1 4px solid;
  border-radius: 4%;
  z-index: 30;
  position: absolute;
  bottom: 2%;
  right: 30%;
  height: 50px;
  width: 200px;
}