*, *::before, *::after{
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  font-size: 19px;
  font-weight: 300;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 100vh;
  background-color: white;
}

#display{
  width: 720px;
  max-width: 80%;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 0 5px 2px;
}